# pre-commit configuration file
.pre-commit-config.yaml

# release-it configuration file
.release-it.yml

# Kubernetes kubeconfig file
kubeconfig*.conf*

# Vuepress Pages
docs/.vuepress/dist

# tmp directory
tmp/

# Node modules
node_modules/
